examples/CRPA.json
[
    {
        "id": "eaaf8be7e967820e",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ce5bccd4fdb3114",
        "type": "receiver-state",
        "z": "eaaf8be7e967820e",
        "name": "",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "c6b435fc8c13724f",
        "type": "inject",
        "z": "eaaf8be7e967820e",
        "name": "Set status 3",
        "props": [
            {
                "p": "command",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "blockName",
                "v": "RFStatus",
                "vt": "str"
            },
            {
                "p": "fieldName",
                "v": "Flags",
                "vt": "str"
            },
            {
                "p": "value",
                "v": "3",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "e6de03eea350db78"
            ]
        ]
    },
    {
        "id": "305ff1026ece63d7",
        "type": "inject",
        "z": "eaaf8be7e967820e",
        "name": "Set status 0",
        "props": [
            {
                "p": "command",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "blockName",
                "v": "RFStatus",
                "vt": "str"
            },
            {
                "p": "fieldName",
                "v": "Flags",
                "vt": "str"
            },
            {
                "p": "value",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "e6de03eea350db78"
            ]
        ]
    },
    {
        "id": "b52e36d1a1f36181",
        "type": "inject",
        "z": "eaaf8be7e967820e",
        "name": "Clear",
        "props": [
            {
                "p": "command",
                "v": "clear",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 390,
        "y": 440,
        "wires": [
            [
                "e6de03eea350db78"
            ]
        ]
    },
    {
        "id": "e6de03eea350db78",
        "type": "packet-replacer",
        "z": "eaaf8be7e967820e",
        "name": "",
        "initialRules": [],
        "x": 600,
        "y": 300,
        "wires": [
            [
                "6ce5bccd4fdb3114",
                "5ba90d73996bf72b"
            ],
            []
        ]
    },
    {
        "id": "5ba90d73996bf72b",
        "type": "function",
        "z": "eaaf8be7e967820e",
        "name": "To priority",
        "func": "if (msg.blockName == \"RFStatus\") {\n    const flags = msg.block[\"Flags\"]\n    let priority = 0;\n\n    if (flags & 0b01) {\n        priority -= 1;\n    }\n\n    if (flags & 0b10) {\n        priority -= 1;\n    }\n\n    const msg_priority = {\n        \"_parsed_by\": msg._parsed_by,\n        \"command\": \"set\",\n        \"priority\": priority\n    }\n\n    return [[msg_priority, msg]];\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 260,
        "wires": [
            [
                "b99e7c0420eeb7b1"
            ]
        ]
    },
    {
        "id": "f76c148bd56ee6db",
        "type": "receiver-state",
        "z": "eaaf8be7e967820e",
        "name": "",
        "x": 1280,
        "y": 400,
        "wires": []
    },
    {
        "id": "eea9eb17727860cc",
        "type": "receiver-state",
        "z": "eaaf8be7e967820e",
        "name": "",
        "x": 820,
        "y": 540,
        "wires": []
    },
    {
        "id": "36b34518269cdc87",
        "type": "inject",
        "z": "eaaf8be7e967820e",
        "name": "Set status 3",
        "props": [
            {
                "p": "command",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "blockName",
                "v": "RFStatus",
                "vt": "str"
            },
            {
                "p": "fieldName",
                "v": "Flags",
                "vt": "str"
            },
            {
                "p": "value",
                "v": "3",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "f0d88a72fa94e27f"
            ]
        ]
    },
    {
        "id": "b0d5f2714a3f1004",
        "type": "inject",
        "z": "eaaf8be7e967820e",
        "name": "Set status 0",
        "props": [
            {
                "p": "command",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "blockName",
                "v": "RFStatus",
                "vt": "str"
            },
            {
                "p": "fieldName",
                "v": "Flags",
                "vt": "str"
            },
            {
                "p": "value",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "f0d88a72fa94e27f"
            ]
        ]
    },
    {
        "id": "e66123d39b229348",
        "type": "inject",
        "z": "eaaf8be7e967820e",
        "name": "Clear",
        "props": [
            {
                "p": "command",
                "v": "clear",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 390,
        "y": 640,
        "wires": [
            [
                "f0d88a72fa94e27f"
            ]
        ]
    },
    {
        "id": "f0d88a72fa94e27f",
        "type": "packet-replacer",
        "z": "eaaf8be7e967820e",
        "name": "",
        "initialRules": [],
        "x": 600,
        "y": 500,
        "wires": [
            [
                "eea9eb17727860cc",
                "445f2e6df1b5d2d0"
            ],
            []
        ]
    },
    {
        "id": "b99e7c0420eeb7b1",
        "type": "bottleneck",
        "z": "eaaf8be7e967820e",
        "name": "",
        "priorities": [],
        "allowMultiple": false,
        "x": 1070,
        "y": 360,
        "wires": [
            [
                "f76c148bd56ee6db",
                "af3662aa9fa3cdbf"
            ]
        ]
    },
    {
        "id": "445f2e6df1b5d2d0",
        "type": "function",
        "z": "eaaf8be7e967820e",
        "name": "To priority",
        "func": "if (msg.blockName == \"RFStatus\") {\n    const flags = msg.block[\"Flags\"]\n    let priority = 0;\n\n    if (flags & 0b01) {\n        priority -= 1;\n    }\n\n    if (flags & 0b10) {\n        priority -= 1;\n    }\n\n    const msg_priority = {\n        \"_parsed_by\": msg._parsed_by,\n        \"command\": \"set\",\n        \"priority\": priority\n    }\n\n    return [[msg_priority, msg]];\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 500,
        "wires": [
            [
                "b99e7c0420eeb7b1"
            ]
        ]
    },
    {
        "id": "4b2de068fd5140a9",
        "type": "sbf-parser",
        "z": "eaaf8be7e967820e",
        "name": "",
        "parser_name": "right",
        "x": 380,
        "y": 300,
        "wires": [
            [
                "e6de03eea350db78"
            ]
        ]
    },
    {
        "id": "82dcf33869224b7a",
        "type": "sbf-parser",
        "z": "eaaf8be7e967820e",
        "name": "",
        "parser_name": "left",
        "x": 380,
        "y": 500,
        "wires": [
            [
                "f0d88a72fa94e27f"
            ]
        ]
    },
    {
        "id": "af3662aa9fa3cdbf",
        "type": "serial out",
        "z": "eaaf8be7e967820e",
        "name": "",
        "serial": "a4af84c748f60b76",
        "x": 1260,
        "y": 340,
        "wires": []
    },
    {
        "id": "88b43dab0c08bf13",
        "type": "serial in",
        "z": "eaaf8be7e967820e",
        "name": "Mosaic Left Side",
        "serial": "d56a1d37b95bd5ba",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "82dcf33869224b7a"
            ]
        ]
    },
    {
        "id": "e3f78ca7bd69b6ca",
        "type": "serial in",
        "z": "eaaf8be7e967820e",
        "name": "Mosaic Right Side",
        "serial": "d56a1d37b95bd5ba",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "4b2de068fd5140a9"
            ]
        ]
    },
    {
        "id": "a4af84c748f60b76",
        "type": "serial-port",
        "name": "Computer",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "d56a1d37b95bd5ba",
        "type": "serial-port",
        "name": "Mosaic X5",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "200",
        "bin": "bin",
        "out": "time",
        "addchar": "",
        "responsetimeout": 10000
    }
]